.heroSection {
    background: #ece8d9;
    padding: 80px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heroText {
    width: 70%;
    margin-top: 15%;
}

.heroText h1 {
    font-size: 67.2px;
    color: #384a62;
    margin-bottom: 20px;
    font-weight: 400;
}

.heroText h3 {
    color: #708095;
    font-size: 24px;
    font-weight: 500;
}

.search p {
    margin: 20px 0 10px;
    color: #384a62;
    font-size: 18px;
}

.search input {
    padding: 20px 100px;
    width: 70%;
    border: none;
    border-radius: 10px;
}

.heroImage {
    margin-top: 15%;
    width: 30%;
}

.heroImage img {
    width: 100%;
    height: auto;
}

/* Media Responsiveness */
@media (max-width: 1024px) {
    .heroSection {
        margin-top: 50px;
        padding: 15px 20px;
        flex-direction: column;
        text-align: center;
    }

    .heroText {
        width: 100%;
    }

    .heroText h1 {
        font-size: 48px;
    }

    .heroImage {
        width: 100%;
    }
}

