.work {
    background: #f1f7f5;
    padding: 80px 40px;
}

.work h2 {
    color: #384A62;
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.content,
.cnn,
.forbes,
.tech {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cnn img {
    width: 20%;
}

.forbes img {
    width: 33%;
}

.content img {
    width: 40%;
}

.tech img {
    width: 70%;
}

.content a,
.cnn a,
.forbes a,
.tech a {
    color: #384A62;
}

/* responsiveness */
@media (max-width: 1024px) {
    .work h2 {
        font-size: 28px;
    }

    .card {
        flex-direction: column;
        gap: 30px;
    }
    
    .content {
        text-align: start;
    }
}